*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: aliceblue; */
  background-color: aliceblue ;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app h1{
  padding: 0.5rem;
}
.app hr{
  width: 2px solid black;
}
.container{
  padding: 0.5rem auto;

}
button{
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}